@use "../util/functions" as *;

.card {
  &__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    text-align: center;

    background-color: var(--color-card-bg);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: rem(327);
    height: rem(579);
    border-radius: 12px;
    color: var(--color-card-text);
    padding: 24px;

    @media(width >= rem(769)) {
      //tablet
      width: rem(384);
      height: rem(611);
      padding: 40px;
    }
  }

  &__profile-pic {
    width: rem(88);
    height: rem(88);
    border-radius: 999px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;

  }

  &__button {
    display: flex;
    justify-content: center;
    background-color: var(--color-button-primary);
    font-size: var(--fs-14);
    font-weight: var(--fw-bold);
    padding-block: rem(12);
    height: rem(45);
    border-radius: 8px;
    width: rem(279);
    transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

    &:hover {
      background-color: var(--color-button-primary-hover);

      .card__link {
        color: var(--color-button-primary-hover-text);
      }
    }
  }

  &__link {
    display: block;
    color: var(--color-button-primary-text);
  }
}

